body {
  font-family: 'Arial', sans-serif;
  background: #fff;
  color: #070707;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(235, 213, 213);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 28px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: rgba(238, 94, 94, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

button {
  background: linear-gradient(to bottom, #ff6347, #ff4500);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

button:hover {
  background: linear-gradient(to bottom, #ff4500, #ff6347);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgba(244, 237, 237, 0.2);
  border-radius: 5px;
  background-color: rgba(12, 1, 28, 0.739);
  color: #fff;
}

